body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@mixin title-big {
  font-size: 2em;
  font-weight: bold;
}

$font-size: (
  big: 2em,
  middle: 1em,
  small: 0.5em,
);

@each $size, $value in $font-size {
  .fs-#{$size} {
    font-size: $value;
  }
}
